<section>
  <h1>Manchester United Players</h1>
  <input
    type="text"
    placeholder="Search Players..."
    (input)="searchTerm.set($any($event.target).value)"
  />

  @if (isLoading()) {
    <p>Loading players...</p>
  } @else if (errorMessage()) {
    <p>{{ errorMessage() }}</p>
  } @else {
    @for (group of groupedPlayers(); track group.label) {
      @if (group.players.length > 0) {
        <section class="position-group">
          <h2>{{ group.label }}</h2>

          <div class="players-grid">
            @for (player of group.players; track player.id) {
              <app-player-card
                [player]="player"
                (profileClicked)="openProfile($event)"
              />
            }
          </div>
        </section>
      }
    }
  }
</section>
